<div class="pb-12 mt-5">
  <div class="text-xl py-1">Hey there 👋</div>
  <div class="text-5xl font-bold">I'm Hanwen Yang</div>
  <div class="text-3xl py-3 font-bold">CS Master Student at USC</div>
  <div class="py-2">
    <text class="text-lg">
      I am a graduate student in Computer Science at the University of Southern California, specializing in <b>NLP, Deep Learning, and Trustworthy AI</b>. 
      Previously, I interned at Rokid Glasses working on Small Language Models and TTS pipelines. 
      I enjoy solving complex problems using Python, PyTorch, and Transformer architectures.
    </text>
  </div>
  <div class="mt-8">
    <a class="btn" href="https://www.linkedin.com/in/hwyang150" target="_blank"> Let's connect!</a>
    <a href="/cv" class="btn btn-outline ml-5"> View CV </a>
  </div>
</div>